@import url("https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  font-family: "Marvel";
  color: #fff;
  background-color: #202020;
}
a {
  text-decoration: none;
  color: inherit;
}
button,
input[type="submit"] {
  border: none;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}
input {
  border: none;
  background-color: #fff;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}
input:focus {
  outline: none !important;
  border-color: none;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  color: #fff;
  line-height: 1.5rem;
  background-color: #202020;
  margin-bottom: 1rem;
}

nav {
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  font-size: 1.25rem;
}
.App-nav-first {
  justify-content: space-between;
  padding: 1rem;
}
.App-logo {
  height: 2.5rem;
}

.App-user-navigation {
  width: 15rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.App-user-navigation a,
.App-user-navigation button {
  background-color: #f3f3f3;
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  color: #ec1c23;
  font-size: 0.9rem;
  font-weight: bolder;
}

.App-nav-second {
  justify-content: center;
  padding: 1rem 0;
  border-top: #757575 solid 0.1rem;
  border-bottom: #757575 solid 0.1rem;
  background-color: #333333;
}
.App-nav-second a {
  margin: 0 1rem;
}
h1 {
  font-size: 5rem;
  font-weight: bolder;
  text-align: center;
}

.form-search {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  border-bottom: #757575 solid 0.1rem;
}

.form-search input,
.form-search div {
  background-color: inherit;
  color: #fff;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  cursor: pointer;
  padding: 0.4rem;
}
.form-search input:nth-child(3) {
  border-top: none;
}

.page-login,
.page-register {
  display: flex;

  margin: 0 auto;
  border-radius: 0.5rem;
  box-shadow: 0 0 15px 5px #757575;
  align-items: center;
}
.page-login {
  width: 640px;
  height: 400px;
}
.page-register {
  width: 640px;
  height: 600px;
}
.page-login-block-image,
.page-register-block-image {
  width: 50%;
  height: 100%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  background-image: url("https://terrigen-cdn-dev.marvel.com/content/prod/1x/the_darkhold_web_reading_list.jpg");
  background-size: cover;
  background-position: center;
}

.page-block-form {
  width: 50%;
  margin: 1rem;
}

.page-block-form h2 {
  text-align: center;
  font-size: 1.5rem;
}
.form-user {
  display: flex;
  flex-direction: column;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.form-user label {
  margin: 1rem 0 0 1rem;
}
.form-user input {
  border-radius: 0.15rem;
  margin: 0.5rem 1rem 1rem 1rem;
  color: #202020;
}

.form-user input[type="submit"] {
  background-color: #e66c71;
  color: #fff;
  font-weight: bolder;
}

.form-user-link {
  display: block;
  text-align: center;
  margin: 1rem 0;
}
.form-user-link span {
  color: #ec1c23;
}
.page-not-found img {
  width: 25%;
  margin: 0 auto;
  display: block;
}
.page-not-found h2 {
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0;
}
.page-not-found p {
  text-align: center;
  font-size: 1.1rem;
  margin: 0 1rem;
}
.page-character {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-character img {
  width: 300px;
}
.page-character p {
  margin: 1rem;
}
.characterAppears h2 {
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0;
}
.characterAppears div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}
.characterAppears .card h2 {
  text-align: center;
  font-size: 1.3rem;
  margin: 0.5rem 0;
}
.characterAppears .card img {
  width: 100%;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}
.pagination {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .page-login,
  .page-register {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
  }
  .page-login-block-image,
  .page-register-block-image {
    display: none;
  }
}
